{% extends "base.html" %}





{% block body_block %}
<div style="margin-left:650px;margin-top:30px;text-decoration:underline;"><h2>Comments</h2></div>
<div class="container mt-5">
 <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
       

        {% for i in data %}
            <div class="alert alert-primary border-secondary">
                {{i.user_object.username}}: {{i.comment}}
                
                
            </div>
        {% endfor %}
    </div>
    <div class="col-4"></div>
 </div>   

</div>

{% endblock %}