{% extends "base.html" %}

{% block body_block %}


      <div class="container mt-5">
        <div class="row">
           <div class="col-4"></div>
           <div class="col-4">
               <form action="" method="post">{% csrf_token %}
                   {% for f in form %}
                   {{f.label_tag}}
                   {{f}}
                   {% endfor %}<br>
                   <button type="submit" class="btn btn-warning"><i class="fa-solid fa-paper-plane" style="color:white;"></i></button>
               </form>
{% endblock %}

