{% extends "base.html" %}

{% block body_block %}
  
<!-- search Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="" method="get">
       <input type="text" name="" id="" placeholder="search">
    </form>
      </div>
    </div>
  </div>
 
  <!-- {% comment %} post section {% endcomment %} -->

  <center><h3 style="margin-bottom: 40px;">Welcome ! {{request.user}}</h3></center>

  {% for i in data %}
  <div class="feed" style="width: 30%;
  height: auto;
  background-color:black;
  margin-bottom: 10px ;
  margin-left: 500px;
  padding-bottom: 10px;">

      <section class="username" style="padding: 10px 30px 0px 30px;
      display: flex;
      flex-flow: row;">

          <div class="image" style=" width:35px;
          height: 35px;
          border-radius: 50%;">

              <a href="{% url 'profile' %}" style="color: #000000;
              font-weight: 400;
              text-decoration: none;
              font-size: 14px;">
              <img src="{{data1.profile_image.url}}" style=" width:35px;
                height: 35px;
                border-radius: 50%;">
              </a>

          </div>
          <div class="id" style=" margin: 10px 15px;">
              <a href="{% url 'profile' %}" style="text-decoration: none; color: aliceblue;">{{request.user}}</a>
              <a href="" style="margin-left: 320px;">
                <i class="fa-solid fa-ellipsis" style="font-size: 15px;color: white;"></i>
              </a>
          </div>
      </section>
      
      <section class="post" style="width: 100%;
      height: 300px;
      margin: 10px 0px;">

        
          <img src="{{i.post_image.url}}" style="width: 100%;
          height: inherit;">

        
      </section>
      <section class="btn-group" style="padding: 0px 10px;">

        
          <a href="" class="btn-love" style="background: none;
          border: none;
          cursor: pointer;
          text-decoration: none;
          margin-top: 10px;
          margin-left: 2px;">
          <i class="far fa-heart fa-lg" style="color: aliceblue;"></i>
      </a>
      
    <a href="{% url 'comment' i.id %}" class="btn-comment" style="background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 2px;"><i class="fa-regular fa-comment  fa-lg" style="color: aliceblue;"></i></a>

          <a href="" class="btn-share" style="background: none;
          border: none;
          cursor: pointer;
          margin-top: 5px;
          margin-left: 2px;">
          <i class="fa-solid fa-location-arrow" style="font-size: 20px; color: aliceblue;"></i>
    </a>

          <a href="" class="btn-bookmark" style="background: none;
          border: none;
          cursor: pointer;
          float: right;
          margin-top: 10px;
          margin-left: 2px;">
          <i class="far fa-bookmark fa-lg" style="color: aliceblue;"></i>
  </a>

      </section>
      <section class="caption" style="font-size: 13px;
      padding: 0px 20px;">
          <p class="like" style="font-weight: bold; color: aliceblue;">{{i.likes.count}} Likes</p>
          <!-- comments -->
          <!-- <a href="{% url 'comment-list' i.id %}"  style="text-decoration: none;">
            <p class="like" style="font-weight: bold; color: aliceblue;">view {{i.comments.count}} comments</p></a> -->

            <div>
              
              <div><span><p>{{i.comment.count}}</p></span></div>
              <a href="{% url 'comment-list' i.id %}"  style="text-decoration: none;font-weight: bold; color: aliceblue;">View all comments</a>
            <!-- end -->
          <p style="color: aliceblue;"><b><a class="id" href="{% url 'profile' %}" style="color: #efeaea;
            text-decoration: none;">{{request.user}}</a></b><span style=" color: white;padding-left:8px;" >{{i.caption}}</span></p>

            <!-- comment add -->
           
              
          <p class="time" style="font-size: 10px;
          color: white;">{{i.created_date}}</p>
      </section>
  </div>

  {% endfor %}
  
{% endblock %}